#root {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.app-container {
  flex: 1;
}

.text.title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: hsl(0, 5%, 10%);
  background: linear-gradient(
    to right,
    hsl(0, 5%, 10%) 0%,
    hsl(0, 10%, 90%) 10%,
    hsl(0, 5%, 10%) 20%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2.5s infinite linear;
  background-size: 200% 100%;
}

@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
