:root {
  display: flex;
  font-family: "Lato", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  background: #83a4d4;
  box-sizing: border-box;
  background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff);
  background: linear-gradient(to right, #83a4d4, #b6fbff);
}

body {
  margin: 0;
  padding: 0;
}

div.DraftEditor-root {
  border-radius: 10px;
  background-color: whitesmoke;
  margin: 20px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}
